
#my-box .text {
  color: #16f78e;
}

.black { 
  color: palevioletred;
} 
/*mybox(부모) 검정색 적용시켰지만, 상속보다는 직접적인 스타일 적용이 우선이다*/

.important-black {
  color: blue !important
}
/*important는 모든 걸 우선해. 
/*언어가 유연할수록 ,규칙정 떨어져서 패턴을 만들어내기 어렵다. 그래서 important 신중하게 사용해야함. 남발 금지.