/*초기화*/
* {
  margin: 0; padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nanum Gothic', sans-serif;

}

li{
  list-style: none;
}
a{
  text-decoration: none; 
  color: black;
}

/*본문 스타일*/
body {
  background-color: #222;
  height: 100%;
}

#container  {
  width: 900px; 
  position: relative;
  left: 50%;/*전체 화면에서 정중앙으로 오게 한 다음*/
  margin-left: -450px;/*왼쪽으로 조금 땡겨줘*/
} 

/*측면 스타일*/
aside {
  float: left;
  width: 300px; height: 100vh;
  padding: 20px 50px;
  background-color: rgb(216, 216, 216);
}

aside > #namecard > h1 {
  margin-top: 20px;
}

#detail {
  margin-top: 100px;
}
#sns {
  margin-top: 50px;
}

#sns > ul > li {
  display: inline-block;
  width: 80px;
  padding-left: 10px;
}
aside p {
  margin-top: 10px;
}

/*본문 스타일*/
#main {
  float: left;
  width: 600px; height: 100vh;
  background-color: white;
  padding: 20px;
}
#main > section {
  width: 500px;
  margin: 20px 10px;
  line-height: 30px;
  padding: 20px;
  border-bottom: 1px dotted #222;
}
section > p, section > ul {
  margin-top: 20px;
  margin-left: 30px;
}

table, th, td {
  border: 1px solid black;
}
table {
  width: 500px; height: 80px;
  margin:10px auto;
  border-collapse: collapse;
}
table > tbody > tr > td {
  text-align: center;
}
table > tbody > tr > td {
  padding: 10px;
}