@import url('/basic\ code/reset.css');

/*  Main */
html {
  background: url(../img/Background.png);
  background-size: cover;

  height: 100%;
  overflow: hidden;
}
body {
  background: url(../img/Center_Background.png);
  width: 960px; height: 550px;
  margin-left: -480px;
  margin-top: -275px;

  position: absolute;
  top: 50%; left: 50%;
}
/* Title */
#title {
  position: absolute;
  left: 0;  top: -48px;

  width: 240px; height: 48px; 
  overflow: hidden;
}
#title h1 {
  position: absolute;
  left: 0; top: 48px;

  width: 240px; height: 48px; 
  background: url(../img/Title_Images.png);

  transition-duration: 1s;
}
/* #title h1.active {
  top: 0;
}
상태선택자 왓 ? 뭐라고 ??  */

/* Navigation */
#container {
  height: 500px;
} /* 빨간 메뉴 바 하단으로 내림 */
#main_navigation ul {
  overflow: hidden;
}
#main_navigation li {
  float: left;
}
#main_navigation a {
  display: block;
  width: 240px; height: 50px;

  text-align: center;
  line-height: 50px;
  background: url('../img/Navigation_Button.png');
  text-indent: -9999px;
  /* 없애지 않고 두는 이유는 나중에 매칭할 때 편하게 하라고 .... */
}

/* Navigation Sprite Img */
#main_navigation li:nth-child(1) > a {
  background-position: 0 0;
}
#main_navigation li:nth-child(2) > a {
  background-position: 0 -100px;
}
#main_navigation li:nth-child(3) > a {
  background-position: 0 -200px;
}
#main_navigation li:nth-child(4) > a {
  background-position: 0 -300px;
}

/* Mouse : hover */
#main_navigation li:nth-child(1) >a:hover {
  background-position: 0 -50px;
}
#main_navigation li:nth-child(2) >a:hover {
  background-position: 0 -150px;
}
#main_navigation li:nth-child(3) >a:hover {
  background-position: 0 -250px;
}
#main_navigation li:nth-child(4) >a:hover {
  background-position: 0 -350px;
}